In [1]:
import glob
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
files = glob.glob('../vz-hackathon/**')

In [4]:
moving_violations = [f for f in files if 'Moving_Violations_in' in f]

In [5]:
parking_violations = [f for f in files if 'Parking_Violations_in' in f]

In [6]:
len(moving_violations)

68

In [7]:
list_ = []
for file_ in moving_violations:
    df = pd.read_csv(file_,index_col=None, header=0)
    
    filename = file_[len('../vz-hackathon/'):]
    
    df['filename'] = filename
    
    if filename ==  'Moving_Violations_in_July_2014.csv':
        
        df['TICKETISSUEDATE'] = df['TICKET_ISSUE_DATE']
        
        df['ROW_'] = df['ROWID_']
        
        df['VIOLATIONCODE'] = df['VIOLATION_CODE']
        
        df['VIOLATIONDESC'] = df['VIOLATION_DESCRIPTION']
            
    list_.append(df)
    
frame = pd.concat(list_)
# TESTs
assert len(frame) == 3993673
assert frame.filename.nunique() == len(moving_violations)

frame.columns = [col.lower() for col in frame.columns]
frame = frame.reset_index(drop=True)

# convert dt string to object
# frame['ticketissuedate'] = pd.to_datetime(frame.ticketissuedate)

In [8]:
# DELETE the Moving_Violations_in_July_2014.csv mess
del frame['ticket_issue_date'] 
del frame['day_of_week'] # only appears in one file

# Possible deletes -- only appears in one file - Moving_Violations_in_July_2014.csv
del frame['body_style'] # only appears in one file - Moving_Violations_in_July_2014.csv
del frame['month_of_year'] # only appears in one file - Moving_Violations_in_July_2014.csv
del frame['holiday'] # only appears in one file - Moving_Violations_in_July_2014.csv
del frame['issue_time'] # only appears in one file - Moving_Violations_in_July_2014.csv
del frame['rp_plate_state']
del frame['week_of_year']
del frame['row_id']
del frame['rowid_']
del frame['violation_code']
del frame['violation_description']

In [9]:
# Feature creation
frame['accidentindicator'] = frame.accidentindicator.map({'No': False, 'Yes':True})

In [10]:
#drop duplications
frame.drop_duplicates(subset='row_', inplace=True)

In [11]:
frame.head(2)

,accidentindicator,address_id,agencyid,fineamt,location,objectid,penalty1,penalty2,row_,streetsegid,ticketissuedate,tickettype,totalpaid,violationcode,violationdesc,xcoord,y,ycoord,filename,﻿x
0,False,31943.0,25.0,50.0,3700 BLK SOUTHERN AVENUE SE (SW/B),119,50.0,NaN,195854,1435.0,2009-04-01T00:00:00.000Z,Photo,0.0,T119,SPEED 11-15 MPH OVER THE SPEED LIMIT,404133.54,38.859665,132428.01,Moving_Violations_in_April_2009.csv,-76.952377
1,False,301049.0,25.0,50.0,3400 BLK BENNING ROAD NE W/B,120,NaN,NaN,194461,6467.0,2009-04-01T00:00:00.000Z,Photo,50.0,T119,SPEED 11-15 MPH OVER THE SPEED LIMIT,404151.99,38.896986,136570.94,Moving_Violations_in_April_2009.csv,-76.952139

In [12]:
# frame.to_json('moving_violations.json')
# frame.to_csv('moving_violations.csv', sep='\t', index=False)

In [ ]:
p

In [13]:
frame.sample(100000).to_csv('moving_violations_sample.csv', sep='\t', index=False)

In [14]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3801217 entries, 0 to 3993672
Data columns (total 20 columns):
accidentindicator    object
address_id           float64
agencyid             float64
fineamt              float64
location             object
objectid             int64
penalty1             float64
penalty2             float64
row_                 int64
streetsegid          float64
ticketissuedate      object
tickettype           object
totalpaid            float64
violationcode        object
violationdesc        object
xcoord               float64
y                    float64
ycoord               float64
filename             object
﻿x                   float64
dtypes: float64(11), int64(2), object(7)
memory usage: 609.0+ MB