In [56]:
import pandas as pd

In [2]:
data = '../data/parking_violations.csv'

In [12]:
df = pd.read_csv(data, parse_dates=True)
# df.to_pickle('parking_eda.pkle')

In [14]:
dfs = df.sample(10000, random_state=1).copy()

In [19]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 5550538 to 10568908
Data columns (total 16 columns):
ï»¿x                       10000 non-null float64
y                        10000 non-null float64
objectid                 10000 non-null int64
rowid_                   10000 non-null int64
holiday                  10000 non-null bool
violation_code           10000 non-null object
violation_description    9748 non-null object
location                 10000 non-null object
rp_plate_state           9972 non-null object
body_style               8613 non-null object
address_id               10000 non-null int64
streetsegid              9993 non-null float64
xcoord                   10000 non-null int64
ycoord                   10000 non-null int64
filename                 10000 non-null object
ticket_issue_datetime    10000 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 1.2+ MB

In [17]:
dfs['ticket_issue_datetime'] = pd.to_datetime(dfs.ticket_issue_datetime)

In [21]:
dfs.ticket_issue_datetime.sort_values()

4484443   2009-01-02 20:15:00
4432624   2009-01-02 23:48:00
4424152   2009-01-05 03:50:00
4386236   2009-01-05 09:26:00
4393783   2009-01-05 11:16:00
4381305   2009-01-05 11:52:00
4445672   2009-01-05 13:02:00
4418234   2009-01-06 07:23:00
4483900   2009-01-06 09:12:00
4455418   2009-01-06 11:25:00
4461905   2009-01-06 14:46:00
4436315   2009-01-07 07:10:00
4435541   2009-01-07 08:46:00
4440496   2009-01-07 10:34:00
4405768   2009-01-07 11:19:00
4384219   2009-01-07 15:28:00
4398978   2009-01-07 16:46:00
4466989   2009-01-08 00:58:00
4467392   2009-01-08 08:03:00
4464597   2009-01-08 09:26:00
4371986   2009-01-08 09:51:00
4382264   2009-01-08 10:15:00
4431871   2009-01-08 10:26:00
4396377   2009-01-08 11:14:00
4398823   2009-01-08 15:38:00
4459482   2009-01-08 18:23:00
4367963   2009-01-09 13:40:00
4435613   2009-01-09 17:15:00
4417197   2009-01-10 12:24:00
4487928   2009-01-10 17:52:00
                  ...
3355249   2015-12-17 17:40:00
3288013   2015-12-17 20:16:00
3274946   2015-12-18 06:51:00
3363728   2015-12-18 09:17:00
3273215   2015-12-18 10:11:00
3277421   2015-12-18 14:34:00
3294152   2015-12-18 20:09:00
3344949   2015-12-19 12:17:00
3306690   2015-12-21 01:44:00
3343788   2015-12-21 07:44:00
3342744   2015-12-21 13:17:00
3296538   2015-12-21 14:25:00
3327456   2015-12-22 11:24:00
3283695   2015-12-22 13:01:00
3305615   2015-12-22 19:49:00
3295003   2015-12-23 05:40:00
3277609   2015-12-24 07:20:00
3297550   2015-12-24 11:53:00
3367874   2015-12-26 23:35:00
3296039   2015-12-28 09:00:00
3275541   2015-12-28 13:14:00
3355464   2015-12-29 03:50:00
3368178   2015-12-29 13:19:00
3353470   2015-12-29 13:21:00
3310050   2015-12-30 15:07:00
3313142   2015-12-30 16:05:00
3303772   2015-12-30 16:06:00
3292366   2015-12-30 16:18:00
3241547   2015-12-31 10:40:00
3371323   2015-12-31 15:34:00
Name: ticket_issue_datetime, dtype: datetime64[ns]

In [52]:
dfs['num'] = 1

In [53]:
dfs['weekday'] = dfs['ticket_issue_datetime'].apply(lambda x: x.weekday())

In [54]:
gb = dfs.groupby('weekday')

In [55]:
gb.num.count()

weekday
0    1485
1    1881
2    1983
3    1861
4    1708
5     813
6     269
Name: num, dtype: int64